@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.contactsBlock {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin: 30px 0;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .formStyle {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .NamePhone {
        display: flex;
      }

      .link {
        margin: 15px 0;
        color: #292929;
        text-decoration: none;
        position: relative;
        padding: 5px;
        @include text($textFontFamily, $textTitleColor, 16px, 24px);
        z-index: 1;
        display: inline-block;
        transition: all 0.3s;
        border: none;
        background: none;
        cursor: pointer;

        &:after {
          content: "";
          position: absolute;
          bottom: 11px;
          left: 0;
          height: 20%;
          width: 97%;
          background-color: #fad72f;
          right: 0;
          margin: 0 auto;
          z-index: -1;
          transition-duration: 0.3s;
        }

        &:hover::after {
          width: 97%;
          height: 35%;
          transition: all 0.3s;
          transform: translateX(0);
        }
      }
    }

    .formStyle input {
      display: block;
      width: 270px;
      margin-bottom: 10px;
    }

    .formStyle textarea {
      width: 272px;
      min-height: 60px;
    }
  }
}
