@import'./src/common/styles/variables';

.title{
    margin: 0 0 30px 0;
    font-family: 'Montserrat', sans-serif;
    color: $textTitleColor;
    font-size: 28px;
    line-height: 44px;
    font-weight: 400;

}