@import '../../common/styles/sass/mixins';
@import '../../common/styles/sass/variables';

.burgerNav {
  position: fixed;
  width: 100%;
  margin-top: 36px;

  .burgerNavItems {
    position: absolute;
    background-color: $bgColor;
    right: 0;
    display: none;
    transition-duration: 0.1s;
    .link {
      cursor: pointer;
      color: #292929;
      text-decoration: none;
      position: relative;
      padding: 5px;
      z-index: 1;

      &::after {
        content: "";
        position: absolute;
        bottom: 9px;
        left: 0;
        width: 97%;
        height: 0;
        background-color: #fad72f;
        right: 0;
        margin: 0 auto;
        z-index: -1;
        transition-duration: 0.3s;
      }

      &:hover::after {
        width: 97%;
        height: 17%;
        transition: all 0.3s;
        transform: translateX(0);
      }
    @media  screen and (max-width:400px) {
      padding: 16px 8px 16px 18px;
    }
    }
  }

  a.active::after {
    height: 15%;
    background-color: #fad72f;
  }

  .burgerBtn img{
    position: absolute;
    right: 26px;
    bottom: 0;
    width: 30px;
    height: 30px;
  }

  .show {
    display: flex;
    height: 100vh;
    top: 0;
    position: fixed;
    margin-bottom: 26px;
    flex-direction: column;
    padding:84px 0 0 0;
    align-items: flex-start;
    width: 106px;
  }

  @media screen and (min-width: 449px) {
    display: none;
  }
}