.skillsBlock{
    background-color: #ccadf1;
}

.skillsContainer{
    align-items: center;
    justify-content: start;
    flex-direction:column;
}
.title{
    background-color: #d7eaf1;
}
.skills{
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 20px;
}