.mainBlock {
    height: 100vh;
    background-color: #ffdaed;
}

.text {
    width: 300px;
    background-color: #d7eaf1;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #d7eaf1;
}

