@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.project {
  width: 464px;
  height: 250px;
  background-size: cover;
  margin: 0 0 40px 0;
  position: relative;
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    top: 0;
    left: 0;
    transform: translateY(-10px);
    transition: all 0.3s;
  }

  @media screen and (max-width: 720px) {
    width: 300px;
    background-size: cover;
    background-position: center;
    height: 170px;
  }
}






