.projectBlock{
background-color: #d7eaf1;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    width:100%;
}

.imgContainer{
    width:200px;
    height:200px;
    background-color: #949d96;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.link{
    background-color: #c1cfd7;
    width: 100px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    color:#6b736d
}

.titleAndDesription{
    display: flex;
    flex-direction: column;
    margin:2px;
}

.title{
    background-color: #d7eaf1;
    margin:2px;
}

.description{
    background-color: #d7eaf1;
    margin:2px;
}