@import "../common/styles/sass/variables";

.projectBlock {
  width: 100%;
  min-height: 100vh;


  .container {
    padding: 25px 0 25px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $bgColor;

    .projectsContainer {
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      padding: 40px;
      @media screen and (max-width: 603px) {
        justify-content: center;
      }
    }
  }
}

